.videoCard {
  color: white;
  width: 400px;
  height: 400px;
  padding: 20px;
  transition: transform 100ms;
}

.videoCard:hover {
  transform: scale(1.09);
}

.videoCard > img {
  object-fit: contain;
  width: 400px;
  height: 300px;
}

.videoCard > p {
  padding-top: 10px;
}
